<th:block layout:decorate="~{layout/layout}" layout:fragment="content">
    <section class="pt-5">
        <div class="container">
            <div class="page-header">
                <div class="row align-items-end">
                    <div class="col-sm mb-2 mb-sm-0">
                        <h1 class="page-title" th:text="|Transaction Detail 😎 - ${transactionDetail.address}|"></h1>
                    </div>

                    <div class="col-sm-auto">
                        <a class="btn btn-primary" href="">
                            Withdraw
                        </a>
                        <a class="btn btn-primary" href="">
                            Create New Address
                        </a>
                    </div>
                </div>

            </div>

            <div class="row justify-content-center">
                <div class="col-6">
                    <div th:utext="${msg}"></div>
                    <div class="card mb-4">
                        <div class="card-body">
                            <form th:action="@{/withdraw/post}" th:method="post">
                                <div class="form-group">
                                    <label class="form-control-label">Withdraw Description</label>
                                    <textarea name="withdraw_desc" class="form-control form-control-sm" placeholder="What's this transaction for?" maxlength="5000"
                                              rows="3" required></textarea>
                                </div>
                                <div class="form-group">
                                    <label class="form-control-label">To</label>
                                    <input type="text" class="form-control" name="withdraw_to" placeholder="bitcoin address" maxlength="44" required>
                                </div>
                                <div class="form-group">
                                    <label class="input-label">Amount (min = 0.00001)</label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" name="withdraw_amount" placeholder="0.00000000" required>
                                        <div class="input-group-append">
                                            <span class="input-group-text" id="basic-addon2">BTC</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="input-label">Notice</label>
                                    <p class="text-sm mb-1">Bitcoin fees are deducted from the transfer amount.</p>
                                    <p class="text-sm mb-1" th:text="|Service Fees is ${service_fees}%|">Bitcoin fees are deducted from the transfer amount.</p>
                                    <p class="text-sm mb-1" th:text="|Currnet Balnace ${user_balance} BTC|">Bitcoin fees are deducted from the transfer amount.</p>
                                </div>
                                <div>
                                    <button class="btn btn-sm btn-primary btn-block mt-2" type="submit">Send
                                    </button>
                                </div>

                            </form>
                        </div>

                    </div>
                </div>
            </div>

        </div>

    </section>
</th:block>
