<th:block layout:decorate="~{layout/layout}" layout:fragment="content">
    <section class="pt-5">
        <div class="container">
            <div class="page-header">
                <div class="row align-items-end">
                    <div class="col-sm mb-2 mb-sm-0">
                        <h1 class="page-title">Hi There! 😘</h1>
                    </div>

                    <div class="col-sm-auto">
                        <a class="btn btn-primary" href="">
                            Withdraw
                        </a>
                        <a class="btn btn-primary" href="">
                            Create New Address
                        </a>
                    </div>
                </div>

            </div>
            <div class="row gx-2 gx-lg-3">
                <div class="col-sm-6 col-lg-3 mb-3 mb-lg-5">
                    <div class="card h-100">
                        <div class="card-body">
                            <h6 class="card-subtitle mb-2">CURRENT BALANCE</h6>
                            <div class="row align-items-center gx-2">
                                <div class="col">
                                    <span class="js-counter display-4 text-dark">24</span>
                                    <span class="text-body font-size-sm ml-1">BTC</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-lg-3 mb-3 mb-lg-5">
                    <div class="card h-100">
                        <div class="card-body">
                            <h6 class="card-subtitle mb-2">Total Received amount</h6>
                            <div class="row align-items-center gx-2">
                                <div class="col">
                                    <span class="js-counter display-4 text-dark">0</span>
                                    <span class="text-body font-size-sm ml-1">BTC</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-lg-3 mb-3 mb-lg-5">
                    <div class="card h-100">
                        <div class="card-body">
                            <h6 class="card-subtitle mb-2">service fees</h6>
                            <div class="row align-items-center gx-2">
                                <div class="col">
                                    <span class="js-counter display-4 text-dark">2</span>
                                    <span class="display-4 text-dark">%</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-lg-3 mb-3 mb-lg-5">
                    <div class="card h-100">
                        <div class="card-body">
                            <h6 class="card-subtitle mb-2">Server Status <span class="legend-indicator bg-success"></span></h6>
                            <div class="row align-items-center gx-2">
                                <div class="col">
                                    <span class="js-counter display-4 text-dark">STABLE</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card mb-4">
                <div class="card-header">
                    <div class="row justify-content-between align-items-center flex-grow-1">
                        <div class="col-12 col-md">
                            <div class="d-flex justify-content-between align-items-center">
                                <h5 class="card-header-title">Last 10 Transactions</h5>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="table-responsive mb-4">
                    <table class="table table-borderless table-thead-bordered table-nowrap table-align-middle card-table">
                        <thead class="thead-light">
                        <tr>
                            <th>Date</th>
                            <th>Address (blockchain)</th>
                            <th>Category</th>
                            <th>Fee</th>
                            <th>Status</th>
                            <th>Detail</th>
                        </tr>
                        </thead>

                        <tbody>
                        <tr th:each="transactions : ${GetUserLast10Transactions}">
                            <td>
                                <span class="d-block h5 mb-0" th:text="${transactions.timereceived}">Director</span>
                            </td>
                            <td>
                                <div class="media-body">
                                    <a class="media align-items-center" target="_blank"
                                       th:href="@{https://www.blockchain.com/btc-testnet/address/{address}(address=${transactions.address})}">
                                        <span class="d-block h5 text-hover-primary mb-0" th:text="${transactions.address}">Address</span>
                                    </a>
                                    <span class="d-block font-size-sm text-body" th:text="${transactions.txid}">TXID</span>
                                </div>
                            </td>
                            <td>
                                <span class="d-block h5 mb-0 text-success" th:if="${transactions.category} == 'receive'">Receive</span>
                                <span class="d-block h5 mb-0 text-danger" th:if="${transactions.category} == 'send'">Send</span>

                                <span class="d-block font-size-sm" th:text="|${transactions.amount} BTC|"></span>
                            </td>
                            <td><span class="d-block font-size-sm h5 mb-0" th:text="|${transactions.fee} BTC|"></span></td>
                            <td>
                                <span class="legend-indicator bg-success"></span><span th:text="|${transactions.confirmations} Confirms|"></span>
                            </td>
                            <td>
                                <a href="">View</a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>

            </div>

            <div class="card mb-4">
                <div class="card-header">
                    <div class="row justify-content-between align-items-center flex-grow-1">
                        <div class="col-12 col-md">
                            <div class="d-flex justify-content-between align-items-center">
                                <h5 class="card-header-title">My Address</h5>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="table-responsive">
                    <table class="table table-borderless table-thead-bordered table-nowrap table-align-middle card-table">
                        <thead class="thead-light">
                        <tr>
                            <th>Address (blockchain)</th>
                        </tr>
                        </thead>

                        <tbody>
                        <tr th:each="getAddressesByLabel : ${GetAddressesByLabel}">
                            <td>
                                <span class="d-block h5 mb-0" th:text="${getAddressesByLabel.address}">Director</span>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>

            </div>
        </div>

    </section>
</th:block>
